# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

/ihparse
/crparse
/span-*
/fixtures/private
/tmp

span_*.deb
span-*.rpm
/packaging/deb/span/usr

NOTES.md
assetutil/bindata.go
.vagrant/*
vagrant.key
Notes.md
/vendor

fixtures/sid93is.ndj
fixtures/doaj.broken.ldj
fixtures/kbart.txt
fixtures/66103_kbart_UTF-8.txt
fixtures/60.*
TODO.md
fixtures/uber.conf
fixtures/jstor.*
fixtures/hhbd.xml
fixtures/thieme.nlm.xml
fixtures/thieme.xml
