Package: span
Version: 0.1.58.2
Section: utils
Priority: optional
Architecture: amd64
Essential: no
Depends: libc6 (>= 2.12)
Maintainer: Martin Czygan <martin.czygan@uni-leipzig.de>
License: GPL-3+
Description: Library data format conversions.
