Package: span
Version: 0.1.44
Section: utils
Priority: optional
Architecture: amd64
Essential: no
Depends: libc6 (>= 2.12)
Maintainer: Martin Czygan <martin.czygan@gmail.com>
Description: Library data conversions.
