[Unit]
Description=GitLab webhook receiver for span SOLR index reviews.
Documentation=man:span(1) http://www.github.com/miku/span
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root
ExecStart=/usr/sbin/span-webhookd -c %h/.config/span/span.json -addr :8080 -logfile=/var/log/span-webhookd.log
Restart=on-failure

