[Unit]
Description=GitLab webhook receiver for span SOLR index reviews.
Documentation=man:span(1) http://www.github.com/miku/span
After=network.target

[Service]
Type=simple
User=daemon
WorkingDirectory=/tmp
ExecStart=/usr/local/bin/span-webhookd -logfile=/var/log/span-webhookd.log
Restart=on-failure

[Install]
WantedBy=multi-user.target

